In [1]:
# imports 
import pandas as pd

# load dataset
trainDataPath = './matlab/train_data.csv'
train_data = pd.read_csv(trainDataPath)

train_data.head(1)

   train_d1  train_d2  train_d3
0         1         1         4

In [2]:
trainLablePath = './matlab/train_lbl.csv'
train_lable = pd.read_csv(trainLablePath)

train_lable.head(1)

   train_lbl
0          1

In [3]:
testLablePath = './matlab/test_lbl.csv'
test_lable = pd.read_csv(testLablePath)

test_lable.head(1)

   test_lbl
0         1

In [4]:
testDataPath = './matlab/test_data.csv'
test_data = pd.read_csv(testDataPath)

test_data.head(1)

   test_d1  test_d2  test_d3
0        1        3        1

In [5]:
# imports for classifiers and metrics
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import f1_score

In [13]:
#fitting test data to the model
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(train_data, train_lable)

c:\users\shubham vora\python\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [14]:
# predict
y_pred = knn.predict(test_data)

# f1 score
score = precision_recall_fscore_support(test_lable, y_pred, average='weighted')

# print
print ("precision            recall               f1score")
print(score)

precision            recall               f1score
(0.07072396167963821, 0.059293804130579615, 0.05709527255018139, None)